@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    /* display:flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    max-width: 1000px;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;

}

footer{
    background-color: rgb(22, 51, 105);
    max-width: 1000px;
    color: white;
    text-align: center;
}
h1{
    background-color: rgb(22, 51, 105);
    max-width: 1000px;
    color: white;
    text-align: center;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: rgb(22, 51, 105);
    width: 95%;
    text-align: center;
}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; 
}

.go2arrow{
    width: 30px;
}

@media(max-width: 480px){
    .panel{
        background-size: auto 80%;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        transition: flex 0.7s ease-in
    }

    footer{
        font-size: 3vw;
    }
    .container {
        width: 100vw;
    }

    h1{
        font-size: 4vw;
    }

    .panel h3 {
        font-size: 3vw;
    }
    
    .go2arrow{
        width: 20px;
    }

    /* .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    } */
}